@include media-breakpoint-down('md') {
	.surrounded-img {
		.border-around-img {
			&.border-around-img-sm {
				left: 3.4em;
			}
			&.border-around-img-lg {
				width: 61.8em;
			}
		}
		iframe,
		.menu-slick {
			width: 98%;
		}
	}	

	.team-wrapper {
		article {
			width: 48%;
		}
	}

	#gallery {
		a {
			max-width: 48%;
		}
	} 

	.menu-card.nieuws-card {
		width: 45%;
	}
}