// add your icons here
$used-icons: (
        bars: $fa-var-bars,
        envelope: $fa-var-envelope,
        phone: $fa-var-phone,
        facebook-f: $fa-var-facebook-f,
        tripadvisor: $fa-var-tripadvisor,
        angle-right: $fa-var-angle-right,
        angle-left: $fa-var-angle-left,
        angle-up: $fa-var-angle-up,
        angle-down: $fa-var-angle-down,
        map-marker-alt: $fa-var-map-marker-alt,
        times: $fa-var-times,
);

@each $name, $content in $used-icons {
  .#{$fa-css-prefix}-#{$name}:before {
    content: fa-content($content);
  }
}